<h1>Welcome to Job Tracker!</h1>

  <h3><%= link_to "All Companies", companies_path %></h3>
  <h3><%= link_to "All Categories", categories_path %></h3>

  <h3>Breakdown of jobs by level of interest (level_of_interest : instances):</h3>


  <h3>Top three companies in terms of level of interest:</h3>



  <h3>Count of jobs by location:</h3>
