<h1>Welcome to Job Tracker!</h1>
<br>
  <h3><%= link_to "All Companies", companies_path %></h3>
  <br>
  <h3><%= link_to "All Categories", categories_path %></h3>
<br><br>
  <h3>Breakdown of jobs by level of interest (level_of_interest : instances):</h3>
  <p>[jobs will be listed here]</p>

<br><br>


  <h3>Top three companies in terms of level of interest:</h3>
  <p>[companies will be listed here]</p>
<br><br>


  <h3>Count of jobs by location:</h3>
  <p>[job locations will be listed here]</p>
