<h1 class="text-center">Welcome to Job Tracker!</h1>
<h2 class="light"><%= link_to "Job Categories", categories_path %></h2>
<h2 class="light"><%= link_to "Companies", companies_path %></h2>
<h2 class="light"><%= link_to "Analysis", dashboard_index_path %></h2>
<img src="http://img08.deviantart.net/ddbe/i/2012/178/a/3/why_not_zoidberg__by_nogard00-d5523p1.jpg">
