<h1 class="text-center">Welcome to Job Tracker!</h1>
<img src="https://drchristophertallant.files.wordpress.com/2014/10/freewriting2.jpg">
<h2 class="light"><%= link_to "Job Categories", categories_path %></h2>
<h2 class="light"><%= link_to "Companies", companies_path %></h2>
<h2 class="light"><%= link_to "Analysis", dashboard_index_path %></h2>
