<div class = "text-center" style="padding-bottom: 50px">
  <h1>Analysis</h1>
  <div class="row well">
<div class="col-md-4"><h2>Jobs by Level of Interest: </h2>
  <% Job.format_interest.each do |elem| %>
    <%= elem %><br />
  <% end %></div>
<div class="col-md-4"><h2>Top Three Companies by Average Level of Interest</h2>
  <% Job.top_three_by_interest.each do |elem| %>
    <p><%= elem %></p>
  <% end %></div>
<div class="col-md-4"><h2>Jobs by Location</h2>
<% Company.companies_by_location.each_pair do |location, companies| %>
  <p><%= link_to location, "/companies?location=#{location}" %>:
    <% total = 0 %>
    <% companies.each do |company| %>
      <% total += company.jobs.count %>
    <% end %>
    <%= total %></p>
<% end %></div>
</div>
</div>
