<h2>Jobs by Level of Interest: </h2>
  <% Job.format_interest.each do |elem| %>
    <%= elem %><br />
  <% end %>
<h2>Top Three Jobs by level of interest</h2>
  <% Job.top_three_by_interest.each do |elem| %>
    <p><%= elem %></p>
  <% end %>
<h2>Jobs by Location</h2>


<% Company.companies_by_location.each_pair do |location, companies| %>
  <p><%= link_to location, "/companies?location=#{location}" %>:
    <% total = 0 %>
    <% companies.each do |company| %>
      <% total += company.jobs.count %>
    <% end %>
    <%= total %></p>
<% end %>
