<h2>Jobs by Level of Interest: </h2>
  <% Job.format_interest.each do |elem| %>
    <%= elem %><br />
  <% end %>
<h2>Top Three Jobs by level of interest</h2>
  <% Job.top_three_by_interest.each do |elem| %>
    <p><%= elem %></p>
  <% end %>
