<h3>All jobs by  level of interest</h3>


<%@job_interest.each do |job|%>
  <ul class="list-group ">
<li class = "cat-head"><%=job.title%> has an level of interest of  <%=job.level_of_interest%></li>
<%end%>
</ul>
