<h3>List of jobs sorted by level of interest:</h3>

<ul>Job Title: Level of Interest</ul>

<% @jobs.each do |job| %>
  <ul><%= job.title%><br>
      <%= job.level_of_interest %><br>
      <%= job.city %><br></ul>
<% end %>
