/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    /* background: image-url("darkshadows.gif") no-repeat center center fixed; */

  background: url('darkshadows.gif');
  color: #B3B3B3;
  font-family: 'Alegreya Sans SC', sans-serif;
}

a{
  text-decoration: none;
  color: #B3B3B3;
}

a:hover{
  text-decoration: none;
}


.new-button{
  display: flex;
  justify-content: center;
}


h3, h1{
  text-align: center;
  border-bottom: 1px solid;
}
label{
  margin-left: 15px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input{
  color:black;
  border-radius: 3px;
  margin: 10px;
  background-color: #B3B3B3;
  border: none;
}
.new_job{
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:space-between;
}
.list-group-item{
  border-radius: 5px;
  width:10em;
  background-color: #B3B3B3;
  margin:10px;
  height: 20px;
  display: flex;
  justify-content: center;
  color:black;
  align-items: center;
}
.contacts{
  display: flex;
}
.list-group-item a{
  color:black;
}

.breadcrumb{
  justify-content: center;
  flex-direction: row;
  align-items:center;
  margin: 10px;
  background-color: #B3B3B3;
  width: 55%;
  height:20px;
  padding:0px;
}

.breadcrumb-item{
  padding-top:20px;
  margin-left: 10px;
  color: black
}

.new{
  border-radius: 5px;
  width:10em;
  background-color: #B3B3B3;
  margin:10px;
  height: 20px;
  display: flex;
  flex-direction: column;
  color:black;
  margin-right: 52px;
}

.list-group-cat{
  width:30em;
  background-color: black;
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color:black;
  width:170px;
}

.edit_contact input{
  background-color: black;
}

.list-group-contact{
  width:30em;
  background-color: black;
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #B3B3B3;
  width:170px;
}

.list-group-contact-show{
  background-color: black;
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #B3B3B3;
  width:200px;
}

.list-group-comment-show{
  background-color: black;
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  height: 150px;
  display: flex;
  /*flex-wrap*/
  flex-direction: column;
  align-items: center;
  color: #B3B3B3;
  width:300px;
}

.list-group-job{
  width:30em;
  background-color: black;
  border-radius: 10px;
  margin: 20px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color:#B3B3B3;
  width:170px;
}
.list-group-job label{
  color:white;
}

ul, li {
  list-style-type: none;
}
.list-group-jobs {
  text-align: center;
  background-color: #B3B3B3;
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  height: 680px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color:black;
  width:370px;
}

.job-button, .job-button a, input{
  background-color: #535661;
  color:white;
}

.forms{
  background-color: #535661;
}
.comment-time{
  font-size: 10px;
}
.comment-show{
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.job-shows{
  display: flex;
  justify-content: center;
}

select{
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_comment{
  display: flex;
  align-items: center;
  background-color: black;
}

.show-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:flex-start;
}

.shows a{
  color:black;
}

.shows{
  margin: 40px;
  background-color: #B3B3B3;
  color:black;
  width:220px;
  border-radius:30px;
  padding:15px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

.cat-head{
margin-bottom: 10px;
}

#company_list{
  padding-left: 30px;
}

#new_job{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#new_job label{
  margin: 0;
}
